{
  "schemaVersion": 1,
  "versionCode": 60,
  "versionName": "6.45.7",
  "minSupportedVersion": 1,
  "forceUpdate": false,
  "releaseDate": "2026-09-18",
  "releaseNotes": "Smart Update",
  "adminApk": "app-admin-release.apk",
  "viewerApk": "app-viewer-release.apk"
}