{
  "schemaVersion": 2,
  "versionCode": 60,
  "versionName": "1.0-build60",
  "minSupportedVersion": 1,
  "forceUpdate": false,
  "releaseDate": "2026-09-18",
  "releaseNotes": [
    "نسخه جدید تعزیه استودیو",
    "بروزرسانی داخلی برنامه"
  ],
  "adminApk": "app-admin-debug.apk",
  "viewerApk": "app-viewer-debug.apk"
}
